.tab-strip {
    height: 36px;
    display: flex;
    margin: 0 0 -1px -1px;
    padding: 0;
}

.tab-strip * {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.tab-strip>li {
    flex: 0 1 160px;
    display: flex;
    align-items: center;
    width: 160px;
    height: 36px;
    background: #ddd;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    margin-right: -1px;
}

.tab-strip>li.dragged {
    flex: 0 0 0;
    position: absolute;
    z-index: 1000
}

.tab-strip>li.drop-placeholder {
    background: none;
    border-left: 1px solid rgba(0, 0, 0, 0);
    border-right: 1px solid rgba(0, 0, 0, 0)
}

.tab-strip>li:not(.active) {
    color: #888
}

.tab-strip>li:hover {
    background: #eee
}

.tab-strip>li.active {
    background: #fff;
    border-bottom: 1px solid #fff
}

.tab-strip>li.unread {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: blink;
    background: #aaa
}

.tab-strip>li.pinned {
    flex: 0 1 40px;
    width: 40px;
    justify-content: center
}

.tab-strip>li .icon {
    padding: 0 .25em;
    width: calc(24px + 0.5em);
    pointer-events: none
}

.tab-strip>li .label {
    pointer-events: none;
    flex: 1 1 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    flex-flow: column
}

.tab-strip>li .location {
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: -3px;
}

.tab-strip>li .location:empty {
    display: none
}

.tab-strip>li .name {
    overflow-x: hidden;
    text-overflow: ellipsis
}

.tab-strip>li .close {
    margin-right: .25em;
    width: 20px;
    height: 20px;
    border: none;
    box-shadow: none;
    outline: none;
    background: url("/images/tabs/close.svg") center center no-repeat;
    opacity: .5;
}

.tab-strip>li .close:hover {
    background-image: url("/images/tabs/close-active.svg");
    opacity: .5
}

.tab-strip>li .close:active {
    background-image: url("/images/tabs/close-active.svg");
    opacity: 1
}

@-moz-keyframes blink {
    0% {
        background: #fff
    }
    50% {
        background: #f7c9ae
    }
    100% {
        background: #fff
    }
}

@-webkit-keyframes blink {
    0% {
        background: #fff
    }
    50% {
        background: #f7c9ae
    }
    100% {
        background: #fff
    }
}

@-o-keyframes blink {
    0% {
        background: #fff
    }
    50% {
        background: #f7c9ae
    }
    100% {
        background: #fff
    }
}

@keyframes blink {
    0% {
        background: #fff
    }
    50% {
        background: #f7c9ae
    }
    100% {
        background: #fff
    }
}