ol.tree {
    list-style: none;
    line-height: 1.5;
    margin: 0;
    padding: 0 0 2em 0;
    width: 100%;
    min-height: 100%;
}

ol.tree * {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

ol.tree.drop-inside:before {
    position: absolute;
    content: "";
    border-top: 1px solid #888;
    left: 0;
    right: 0
}

ol.tree ol {
    list-style: none;
    margin: 0;
    padding-left: 24px;
}

ol.tree ol:last-of-type.drop-below {
    border-bottom: 1px solid #888;
    padding-bottom: 0
}

ol.tree li.item,
ol.tree li.group {
    background-clip: border-box;
    height: 28px;
    display: flex;
    padding: 1px;
    cursor: default;
    display: flex;
    align-items: center;
}

ol.tree li.item>.icon,
ol.tree li.group>.icon,
ol.tree li.item>.toggle,
ol.tree li.group>.toggle {
    margin: -1px;
    width: 24px;
    height: 24px
}

ol.tree li.item span,
ol.tree li.group span {
    align-self: center;
    padding: .25em
}

ol.tree li.item:hover,
ol.tree li.group:hover {
    background-color: #eee
}

ol.tree li.item.drop-above,
ol.tree li.group.drop-above {
    border-top: 1px solid #888;
    padding-top: 0
}

ol.tree li.item.drop-inside,
ol.tree li.group.drop-inside {
    border: 1px solid #888;
    padding: 0
}

ol.tree li.item.selected,
ol.tree li.group.selected {
    background: #beddf4
}

ol.tree li.item.drop-below {
    border-bottom: 1px solid #888;
    padding-bottom: 0
}

ol.tree li.group {
    color: #444;
}

ol.tree li.group>.toggle {
    opacity: .5;
    background: url("/images/treeView/group-open-dark.svg") center no-repeat;
    cursor: pointer
}

ol.tree li.group.drop-below+ol {
    border-bottom: 1px solid #888;
}

ol.tree li.group.drop-below+ol:empty {
    margin-top: -1px;
    pointer-events: none
}

ol.tree li.group.collapsed>.toggle {
    background-image: url("/images/treeView/group-closed-dark.svg")
}

ol.tree li.group.collapsed+ol>ol,
ol.tree li.group.collapsed+ol>li {
    display: none
}

.tree-loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    opacity: .5
}