body {
    display: flex
}

.sidebar {
    min-width: 240px;
    max-width: 480px;
    width: 280px;
    display: flex;
    flex-flow: column;
    background: #3b3b3bab;
    color: rgb(255, 255, 255);
}

.sidebar .project-management button {
    opacity: .5;
    cursor: pointer;
}

.sidebar .project-management button:hover {
    opacity: 1
}

.sidebar .project-management button:disabled {
    opacity: .2;
    cursor: default
}

.project-management {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.65);
    color: #eee;
    line-height: 1
}

.project-name {
    font-weight: bold;
    padding: 1em 0;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden
}

.project-buttons,
.project-icon {
    margin: 0 .5em;
}

.project-buttons button,
.project-icon button {
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px
}

.project-buttons .build,
.project-icon .build {
    background-image: url("/images/project/build.svg")
}

.project-buttons .stop,
.project-icon .stop {
    background-image: url("/images/project/stop.svg")
}

.project-buttons .debug,
.project-icon .debug {
    background-image: url("/images/project/debug.svg")
}

.project-buttons .run,
.project-icon .run {
    background-image: url("/images/project/run.svg")
}

.project-buttons .go-to-hub,
.project-icon .go-to-hub {
    background-image: url("/images/project/go-to-hub.svg")
}

.entries-buttons .new-asset {
    background-image: url("/images/entries/new-asset.svg")
}

.entries-buttons .new-folder {
    background-image: url("/images/entries/new-folder.svg")
}

.entries-buttons .rename-entry {
    background-image: url("/images/actions/rename.svg")
}

.entries-buttons .duplicate-entry {
    background-image: url("/images/actions/duplicate.svg")
}

.entries-buttons .trash-entry {
    background-image: url("/images/actions/delete.svg")
}

.entries-buttons .search {
    background-image: url("/images/actions/search.svg")
}

.entries-buttons .filter {
    background-image: url("/images/actions/filter.svg")
}

.filter-buttons {
    flex-wrap: wrap;
}

.filter-buttons img {
    padding: 2px;
    width: 28px;
    height: 28px
}

.filter-buttons img.toggle-all {
    content: url("/images/entries/filter-all.svg")
}

.filter-buttons img:hover {
    background: #ccc
}

.filter-buttons img.filtered {
    opacity: .3
}

.filter-buttons img.filtered:hover {
    opacity: .5
}

.entries-tree-view {
    flex: 1;
    position: relative;
    overflow-y: auto;
}

.entries-tree-view .tree {
    position: absolute
}

.entries-tree-view .tree li,
.find-asset-dialog .tree li {
    color: rgb(0, 0, 0);
}

.entries-tree-view .tree li>img,
.find-asset-dialog .tree li>img {
    width: 24px;
    height: 24px
}

.entries-tree-view .tree li.group,
.find-asset-dialog .tree li.group {
    color: #666
}

.entries-tree-view .tree li:not(.selected):hover,
.find-asset-dialog .tree li:not(.selected):hover {
    background: #3a3a3a
}

.entries-tree-view .tree .name,
.find-asset-dialog .tree .name {
    white-space: pre;
    flex: 1;
    text-overflow: ellipsis;
    overflow-x: hidden
}

.entries-tree-view .tree .badges:empty,
.find-asset-dialog .tree .badges:empty {
    padding: 0
}

.entries-tree-view .tree .badges span,
.find-asset-dialog .tree .badges span {
    background: rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.8);
    font-size: 80%;
    margin-left: .25em
}

.open-in-new-window {
    cursor: pointer;
    align-self: stretch;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: .3;
    background-image: url("/images/actions/open-in-new-window.svg");
    width: 28px;
}

.open-in-new-window:hover {
    background-color: rgba(0, 0, 0, 0.794)
}

.open-in-new-window:active {
    background-color: #fff
}

.tools {
    background: rgba(0, 0, 0, 0.1);
    border-top: 1px solid #acacac;
}

.tools ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.tools li {
    display: flex;
    align-items: center;
    height: 28px;
}

.tools li:hover {
    background: rgba(246, 86, 86, 0.1);
}

.tools li:hover .name {
    text-decoration: none
}

.tools li:active {
    background: #fff
}

.tools li div {
    flex: 1;
    display: flex;
    align-items: center;
}

.tools li div>img {
    width: 24px;
    height: 24px
}

.tools li div .name {
    flex: 1;
    white-space: pre;
    text-overflow: ellipsis;
    overflow-x: hidden;
    padding: .25em;
    text-decoration: underline;
    cursor: pointer
}

.main {
    flex: 1;
    display: flex;
    flex-flow: column;
    border-top: 0px solid #ccc;
}

.main .top {
    display: flex;
    flex-shrink: 0;
    color: #e0e0e0;
    background: rgb(5, 5, 5);
    height: 36px
}

.main .tabs-bar {
    flex: 1;
    background: rgba(0, 0, 0, 0.459);
    border-bottom: 1px solid #aaa
}

.main .panes {
    flex: 1;
    display: flex;
}

.main .panes .pane-container {
    flex: 1;
    display: flex;
    flex-flow: column;
}

.main .panes .pane-container:not(.active) {
    display: none
}

.main .panes .pane-container .revision-outer-container {
    background: rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #acacac;
    padding: .2em;
    display: flex
}

.main .panes .pane-container .revision-inner-container {
    margin: auto;
    flex: 1;
    max-width: 600px;
    display: flex;
}

.main .panes .pane-container .revision-inner-container span {
    text-transform: uppercase;
    color: #666;
    padding: .3em;
    background: #ddd
}

.main .panes .pane-container .revision-inner-container select {
    flex: 1;
    margin: 0 .5em
}

.main .panes iframe {
    border: none;
    flex: 1
}

.top .controls {
    border-bottom: 1px solid #aaa;
}

.top .controls button {
    width: 30px;
    height: 25px;
    border: none;
    box-shadow: none;
    border-radius: 0;
    outline: none
}

.top .controls .toggle-notifications {
    background: url("/images/controls/notifications-enabled.svg");
}

.top .controls .toggle-notifications:hover {
    background: url("/images/controls/notifications-enabled-hover.svg")
}

.top .controls .toggle-notifications:active {
    background: url("/images/controls/notifications-enabled-active.svg")
}

.top .controls .toggle-notifications.disabled {
    background: url("/images/controls/notifications-disabled.svg")
}

.top .controls .toggle-notifications.disabled:hover {
    background: url("/images/controls/notifications-disabled-hover.svg")
}

.top .controls .toggle-notifications.disabled:active {
    background: url("/images/controls/notifications-disabled-active.svg")
}